.navbar a:hover {
    color: aqua;
}

.mr-auto {
    margin-right: auto;
}

.ml-auto {
    margin-left: auto;
}

.FieldInfo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    color: rgb(74, 161, 8);
}

.commentCountOnBlogCard {
    color: aqua;
}